
@{
    ViewBag.Title = "A Propos";
}

<h2>A Propos</h2>
<p>Ce projet à été développé en conclusion du cours sur le développement Web côté serveur. <br />
   Il s'agit d'un site d'e-commerce pour les enregistrements contenus dans la base de données "Classique Web".<br />
   Il a été développé en binôme : Alexandre Jacquot et Florent Mariotti.<br />
    Les technologies utilisés sont ASP.Net MVC du côté serveur avec le FrameWork Entity comme couche d'accès à la base de données.
    Côté client le FrameWork Bootstrap a été choisi pour la mise en page car il est très simple d'utilisation.
</p>
<p>
    Des difficultés ont étés rencontrés durant ce projet nottament pour faire fonctionner l'API Amazon. Au final elle n'est pas fonctionnelle 
    sur le site final car le compte Amazon Developper nécessaire apour faire fonctionner cet API nous est supprimé à chaque fois (notre site ne semble pas assez pro).<br />
    Le reste du developpement s'est réalisé sans encombres et nous a même réconcilié avec les technologies ASP.Net.
</p>
