body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 50%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.field-validation-error { 
    color : red;

}

.validation-summary-errors { 
    color : red; 
    font-weight: bold;
}

.input-validation-error { 
    border: 2px solid #f00;
    background-color : #fee
}

input[type="checkbox"].input-validation-error { 
    outline: 2px solid #f00;
}