body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 50%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.field-validation-error { 
    color : red;

}

.validation-summary-errors { 
    color : red; 
    font-weight: bold;
}

.input-validation-error { 
    border: 2px solid #f00;
    background-color : #fee
}

input[type="checkbox"].input-validation-error { 
    outline: 2px solid #f00;
}

#nbCartItemsBuble{
    color: white;
}
.nav-icon-section {
    margin: 0px !important;
    padding: 0px !important;
    height: 50px;
}

.nav-icon-container{
    height: 40px;
    width: 40px;
    background-size: cover;
}

#cart-icon{
    background-image: url('/img/cart.png');
}

.nav-icon-container > .label {
    position: relative;
    top: 2px;
    left: 21px;
    font-size: 11px;
}

.nav-icon-section > .title {
    position: relative;
    top: -7px;
    font-size: 14px;
}

#drop-down-search-bar {
    width: 20%;
    min-width: 100px;
}

table .img-thumbnail {
    width: 200px;
    height : auto;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      height: 70vh;
      width: auto;
      margin: auto;
  }