@using ProjetWeb.Models
@model List<KeyValuePair<Album, string>>

@{
    ViewBag.Title = "RechercheAlbum";
}

    <p>@Model.Count Résultats</p>
    <table class="table">
        <thead>
            <tr>
                <th>Titre de l'album</th>
                <th>Pochette</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var albumPrixé in Model)
            {
                <tr>
                    <td>@Html.ActionLink(albumPrixé.Key.Titre_Album, "Details","Albums", new { id=albumPrixé.Key.Code_Album}, null)</td>
                    <td><img class="img-thumbnail center-block" src="@Url.Action("PochetteAlbum", "Media", new { id=albumPrixé.Key.Code_Album})" alt="@albumPrixé.Key.Titre_Album" /></td>
                    <td>@albumPrixé.Value</td>
                </tr>
            }  
        </tbody>
    </table>







