@using ProjetWeb.Models
@model List<KeyValuePair<Oeuvre, string>>

@{
    ViewBag.Title = "RechercheOeuvre";
}

<table class="table">
    <thead>
        <tr>
            <th>Titre de l'oeuvre</th>
            <th>Type</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oeuvrePrixé in Model)
        {
            <tr>
                <td>@Html.ActionLink(oeuvrePrixé.Key.Titre_Oeuvre, "Details", "Oeuvres", new { id = albumPrixé.Key.Code_Oeuvre }, null)</td>
                <td>@oeuvrePrixé.</td>
                <td>@oeuvrePrixé.Value</td>
            </tr>
        }
    </tbody>
</table>




