@using ProjetWeb.Models
@model List<Oeuvre>

@{
    ViewBag.Title = "RechercheOeuvre";
}

<table class="table">
    <thead>
        <tr>
            <th>Titre de l'oeuvre</th>
            <th>Année</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oeuvre in Model)
        {
            <tr>
                <td>@Html.ActionLink(oeuvre.Titre_Oeuvre, "Details", "Oeuvres", new { id = oeuvre.Code_Oeuvre }, null)</td>
                <td>@oeuvre.Année</td>
                <td>@oeuvre.Type_Morceaux.Libellé_Type</td>
            </tr>
        }
    </tbody>
</table>




